<div class="container">
    <div class="footer__inner">
        <div class="footer__row">
            <div class="footer__column">
                <a href="/" class="logo">
                    <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
                    <h1 class="logo__title">grocerymart</h1>
                </a>
                <p class="footer__desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, laudantium quidem ducimus hic
                    nulla magnam. Facilis odit harum est explicabo.
                </p>
                <p class="footer__help-text">Receive product news and updates.</p>
                <form action="" class="footer__form">
                    <input
                        type="email"
                        class="footer__form-input"
                        name="mail"
                        id="mail"
                        placeholder="Enter your email"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                        required
                    />
                    <button type="submit" class="btn btn--primary footer__act">
                        <div class="footer__act-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path
                                    fill="currentColor"
                                    d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
                                ></path>
                            </svg>
                        </div>
                        <span>Send</span>
                    </button>
                </form>
                <div class="footer__social">
                    <h3 class="footer__social-title">Follow Us</h3>
                    <div class="footer__social-list">
                        <a href="#!" class="footer__social-item">
                            <img src="./assets/icons/facebook.svg" alt="" class="footer__social-icon" />
                        </a>
                        <a href="#!" class="footer__social-item">
                            <img src="./assets/icons/instagram.svg" alt="" class="footer__social-icon" />
                        </a>
                        <a href="#!" class="footer__social-item">
                            <img src="./assets/icons/square-x-twitter.svg" alt="" class="footer__social-icon" />
                        </a>
                        <a href="#!" class="footer__social-item">
                            <img src="./assets/icons/youtube.svg" alt="" class="footer__social-icon" />
                        </a>
                        <a href="#!" class="footer__social-item">
                            <img src="./assets/icons/tiktok.svg" alt="" class="footer__social-icon" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer__right">
                <!-- Footer column 2 -->
                <div class="footer__column">
                    <h3 class="footer__heading">Shop</h3>
                    <ul class="footer__list">
                        <li>
                            <a href="#!" class="footer__link">All Departments</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Fashion Deals</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Electronics Discounts</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Home &amp; Living Specials</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Beauty Bargains</a>
                        </li>
                    </ul>
                </div>

                <!-- Footer column 3 -->
                <div class="footer__column">
                    <h3 class="footer__heading">Support</h3>
                    <ul class="footer__list">
                        <li>
                            <a href="#!" class="footer__link">Store locator</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Order status</a>
                        </li>
                    </ul>
                </div>

                <!-- Footer column 4 -->
                <div class="footer__column">
                    <h3 class="footer__heading">Company</h3>
                    <ul class="footer__list">
                        <li>
                            <a href="#!" class="footer__link">Customer Service</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Terms of Use</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Privacy</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Careers</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">About</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Affiliates</a>
                        </li>
                    </ul>
                </div>

                <!-- Footer column 5 -->
                <div class="footer__column">
                    <h3 class="footer__heading">Contact</h3>
                    <ul class="footer__list">
                        <li>
                            <p class="footer__label">Email</p>
                            <a href="mailto:contact@grocerymart.com" class="footer__link"> contact@grocerymart.com </a>
                        </li>
                        <li>
                            <p class="footer__label">Hotline</p>
                            <a href="tel:18008888" class="footer__link">18008888</a>
                        </li>
                        <li>
                            <p class="footer__label">Address</p>
                            <p class="footer__text">
                                No. 11D, Lot A10, Nam Trung Yen urban area, Yen Hoa Ward, Cau Giay District, City. Hanoi
                            </p>
                        </li>
                        <li>
                            <p class="footer__label">Hours</p>
                            <p class="footer__text">M - F 08:00am - 06:00pm</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="footer-copyright">Copyright & Design By Tri Dung Nguyen</p>
    </div>
</div>
