@use "../abstracts";

.auth {
    min-height: 100vh;

    @supports (-webkit-touch-callout: none) {
        min-height: -webkit-fill-available;
    }

    display: flex;
    background: var(--auth-bg-color);

    &__intro {
        position: relative;
        flex-grow: 1;
        padding: 0 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 50px;
        background: var(--auth-bg-color);

        &-img {
            width: min(422px, 100%);
        }

        &-text {
            max-width: 412px;
            text-align: center;
            font-size: 1.125rem;
            font-weight: 500;
            line-height: 144.444%;

            @include abstracts.screen(md) {
                font-size: 0.9375rem;
                line-height: 146.667%;
            }
        }

        &-logo,
        &-next {
            position: absolute;
            left: 50%;
            translate: -50%;
        }

        &-logo {
            top: 80px;
        }

        &-next {
            bottom: 50px;

            &-img {
                height: 18px;
            }
        }
    }

    &__content {
        flex-grow: 1;
        background: var(--auth__content-bg-color);
        padding: 50px 30px;

        @include abstracts.screen(md) {
            position: fixed;
            inset: 0;
            z-index: 1;
            translate: 100%;
            transition: translate 0.8s;
            overflow-y: auto;
        }

        @include abstracts.screen(sm) {
            padding: 30px;
        }

        &-inner {
            margin: 0 auto;
            width: min(460px, 100%);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        &.show {
            translate: 0;
        }
    }

    &__heading {
        margin-top: 50px;
        font-size: 1.875rem;
        font-weight: 500;
        line-height: 146.667%;

        @include abstracts.screen(md) {
            font-size: 1.375rem;
            line-height: 145.455%;
        }

        @include abstracts.screen(sm) {
            margin-top: 30px;
        }
    }

    &__desc {
        padding: 10px 20px 0;
        text-align: center;
        color: #9e9da8;
        font-size: 0.9375rem;
        font-weight: 500;
        line-height: 146.667%;

        @include abstracts.screen(md) {
            font-size: 0.875rem;
            line-height: 142.857%;
        }
    }

    &__form {
        margin-top: 35px;

        @include abstracts.screen(sm) {
            margin-top: 15px;
        }
    }

    &__btn-group {
        margin-top: 50px;

        @include abstracts.screen(sm) {
            margin-top: 30px;
        }
    }

    &__btn {
        width: 100%;

        &-icon {
            margin-right: 10px;
        }
    }

    &__btn + &__btn {
        margin-top: 30px;
        margin-left: 0;

        @include abstracts.screen(sm) {
            margin-top: 10px;
        }
    }

    &__text {
        margin-top: 108px;
        color: #9e9da8;
        font-size: 1.125rem;
        line-height: 144.444%;
        display: flex;
        column-gap: 10px;

        @include abstracts.screen(md) {
            margin-top: 56px;
            font-size: 1rem;
            line-height: 150%;
        }

        @include abstracts.screen(sm) {
            margin-top: 30px;
        }
    }

    &__link {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 144.444%;
        color: #0071dc;

        @include abstracts.screen(md) {
            font-size: 1rem;
            line-height: 150%;
        }
    }
}
