@use "../abstracts";

.checkout-page {
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    padding-bottom: 50px;

    &__breadcrumbs {
        background: var(--checkout-page__breadcrumbs-bg-color);
    }
}

.checkout-container {
    margin-top: 30px;
    border-radius: 10px;
    background: transparent;

    @include abstracts.screen(md) {
        margin-top: 20px;
    }
}

.cart-info {
    padding: 30px;
    background: var(--checkout-cart-info-bg-color);
    border-radius: 20px;
    box-shadow: var(--checkout-cart-info-shadow-color);

    @include abstracts.screen(md) {
        padding: 16px;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 20px;
    }

    &__heading {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 141.667%;

        &--lv2 {
            font-size: 1.375rem;
            font-weight: 500;
            line-height: 145.455%;
        }

        &,
        &--lv2 {
            @include abstracts.screen(md) {
                font-size: 1rem;
                font-weight: 500;
                line-height: 150%;
            }
        }
    }

    &__desc {
        margin-top: 6px;
        font-size: 0.9375rem;
        line-height: 146.667%;
    }

    &__sub-heading {
        margin: 30px 0;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 0.9375rem;
            line-height: 146.667%;
        }
    }

    &__list {
        margin-top: -30px;

        @include abstracts.screen(md) {
            margin-top: -16px;
        }

        &-none {
            display: none;
            margin-top: 30px;
            grid-column: 1 / -1;

            &.show {
                display: block;
            }
        }
    }

    &__bottom {
        margin-top: 30px;

        @include abstracts.screen(md) {
            margin-top: -16px;
        }
    }

    &__continue {
        height: 100%;
        display: flex;
        align-items: flex-end;

        &-link {
            display: flex;
            align-items: center;
            gap: 10px;

            font-size: 1.125rem;
            font-weight: 500;
            line-height: 144.444%;
        }

        &-icon {
            rotate: 90deg;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-size: 1.125rem;
        font-weight: 500;
        line-height: 144.444%;

        & + & {
            margin-top: 10px;
        }

        &--bold {
            font-size: 1.375rem;
            font-weight: 700;
            line-height: 145.455%;
        }
    }

    &__separate {
        margin: 30px 0;
        width: 100%;
        height: 1px;
        background: var(--checkout-cart-item-border-color);
    }

    & + & {
        margin-top: 30px;
    }

    &__sub {
        font-weight: 700;

        &-label {
            font-weight: 300;
        }
    }

    &-left {
        display: flex;
        flex-direction: column;
        gap: 14px;

        .cart-info__row {
            font-size: 1rem;
            line-height: 150%;
            margin: 0;
        }

        .cart-info__separate {
            margin: 0;
        }
    }

    &__next-btn {
        margin-top: 16px;

        @include abstracts.screen(md) {
            font-size: 1rem;
            font-weight: 500;
            line-height: 150%;
        }
    }

    &__checkbox {
        display: flex;
        align-items: center;

        &-input {
            appearance: none;
            cursor: pointer;

            &::before {
                content: url("../icons/checkbox-uncheck.svg");
            }

            &:not(:checked)::before {
                filter: var(--icon-color);
            }

            &:checked::before {
                content: url("../icons/checkbox-checked.svg");
            }
        }
    }

    &__edit-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.125rem;
        line-height: 144.444%;
    }

    &__form {
        margin-bottom: 30px;

        &-row {
            column-gap: 20px;
        }
    }

    &__check-all {
        padding: 30px 0;
    }
}

.cart-item {
    display: flex;
    column-gap: 30px;
    padding: 30px 0;
    border-bottom: 1px solid var(--checkout-cart-item-border-color);

    @include abstracts.screen(md) {
        column-gap: 16px;

        &:last-child {
            border: none;
        }
    }

    &__thumb {
        width: 175px;
        height: 172px;
        object-fit: contain;

        @include abstracts.screen(xl) {
            width: 135px;
            height: 132px;
        }

        @include abstracts.screen(md) {
            width: 65px;
            height: 62px;
        }
    }

    &__content {
        flex: 1;
        display: grid;
        column-gap: 30px;
        row-gap: 16px;
        grid-template-areas:
            "aa aa aa bb"
            "aa aa aa cc";

        @include abstracts.screen(xl) {
            grid-template-areas:
                "aa aa aa bb"
                "cc cc cc cc";
        }

        @include abstracts.screen(lg) {
            grid-template-areas:
                "aa aa aa bb"
                "aa aa aa cc";
        }

        @include abstracts.screen(md) {
            grid-template-areas:
                "aa"
                "bb"
                "cc";
        }

        &-left {
            grid-area: aa;
        }
    }

    &__title,
    &__price-wrap {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__title {
        max-width: 374px;

        @include abstracts.screen(md) {
            font-size: 0.875rem;
            line-height: 142.857%;
        }
    }

    &__price-wrap {
        margin: 16px 0;
        color: #9e9da8;
    }

    &__status {
        color: #67b044;
    }

    &__ctrl {
        display: flex;
        align-items: center;
        gap: 20px;
        min-height: 44px;

        @include abstracts.screen(xxl) {
            gap: 10px;
        }

        &-btn {
            display: flex;
            align-items: center;
            gap: 10px;

            font-size: 1rem;
            font-weight: 500;
            line-height: 150%;
            color: #9e9da8;

            @include abstracts.screen(xxl) {
                gap: 5px;
            }

            &:hover {
                filter: brightness(0) saturate(100%) invert(28%) sepia(63%) saturate(2946%) hue-rotate(345deg) brightness(103%) contrast(86%);
            }

            &:first-child {
                margin-right: 10px;
            }
        }

        &--md-block {
            @include abstracts.screen(md) {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }

    &__input {
        display: flex;
        align-items: center;
        column-gap: 10px;
        padding: 0 20px;
        height: 44px;
        border-radius: 10px;
        border: 1px solid var(--checkout-cart-item-border-color);
        font-size: 0.9375rem;
        font-weight: 500;
        line-height: 146.667%;
        cursor: pointer;

        @include abstracts.screen(md) {
            font-size: 0.875rem;
            line-height: 142.857%;
        }

        &-btn {
            display: flex;
        }
    }

    &__total-price {
        font-size: 1.375rem;
        font-weight: 700;
        line-height: 145.455%;
        text-align: right;
        grid-area: bb;

        @include abstracts.screen(md) {
            font-size: 1.125rem;
            line-height: 144.444%;
            text-align: left;
        }
    }

    &__act {
        display: flex;
        grid-area: cc;

        @include abstracts.screen(lg) {
            align-items: flex-end;
        }
    }
}

.gift-item {
    display: flex;
    align-items: center;
    gap: 20px;

    &__icon-wrap {
        flex-shrink: 0;
        width: 76px;
        height: 76px;
        border-radius: 14px;
        background: var(--checkout-gift-item__icon-wrap-bg-color);
        display: flex;
        align-items: center;
        justify-content: center;

        @include abstracts.screen(md) {
            width: 60px;
            height: 60px;
        }
    }

    &__icon {
        width: 78%;
    }

    &__title {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1rem;
            line-height: 150%;
        }
    }

    &__desc {
        margin-top: 10px;
        font-size: 0.875rem;
        line-height: 142.857%;
    }
}

.user-address {
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        @include abstracts.screen(md) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__title {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1rem;
            line-height: 150%;
        }
    }

    &__desc {
        margin-top: 4px;
        font-size: 0.9375rem;
        line-height: 146.667%;

        @include abstracts.screen(md) {
            font-size: 0.875rem;
            line-height: 142.857%;
        }
    }

    &__message {
        margin-top: 30px;
        font-weight: 500;
    }

    &__link {
        color: #0071dc;
        cursor: pointer;
    }
}

.address-card {
    display: flex;
    margin-top: 30px;
    gap: 16px;

    @include abstracts.screen(md) {
        flex-direction: column;
    }

    &__left {
        flex: 1;
        display: flex;
        gap: 16px;
    }

    &__title {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1rem;
            line-height: 150%;
        }
    }

    &__desc {
        margin-top: 4px;
        font-size: 0.9375rem;
        line-height: 146.667%;

        @include abstracts.screen(md) {
            font-size: 0.875rem;
            line-height: 142.857%;
        }
    }

    &__list {
        display: flex;
        gap: 30px;
        margin-top: 20px;
        list-style: disc inside;
        font-size: 0.875rem;
        line-height: 142.857%;

        @include abstracts.screen(sm) {
            flex-direction: column;
            gap: 16px;
        }

        &-item {
            margin-left: 8px;
        }
    }

    &__ctrl {
        height: 100%;
        display: flex;
        align-items: flex-end;
    }
}

.payment-item {
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    background: var(--payment-item-bg-color);

    display: flex;
    align-items: center;

    @include abstracts.screen(md) {
        align-items: flex-start;
    }

    &__content {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 16px;

        @include abstracts.screen(md) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__info {
        flex: 1;
    }

    &__title {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1rem;
            line-height: 150%;
        }

        &--bold {
            font-weight: 700;

            @include abstracts.screen(md) {
                font-size: 0.9375rem;
                font-weight: 500;
                line-height: 146.667%;
            }
        }
    }

    &__desc {
        margin-top: 4px;
        font-size: 0.9375rem;
        line-height: 146.667%;

        @include abstracts.screen(md) {
            font-size: 0.875rem;
            line-height: 142.857%;
        }

        &--low {
            font-size: 1rem;
            line-height: 150%;
            color: #9e9da8;

            @include abstracts.screen(md) {
                font-size: 0.875rem;
                line-height: 142.857%;
            }
        }
    }

    &-view-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &__show-details {
        display: flex;
        align-items: center;
        justify-self: flex-end;
        padding: 10px;
        cursor: pointer;
        user-select: none;

        &-text {
            font-size: 0.9375rem;
            line-height: 146.667%;
        }

        &-icon {
            display: none;
            rotate: 180deg;
        }
    }

    &:has(.show) &__show-details {
        &-text {
            display: none;
        }

        &-icon {
            display: block;
        }
    }

    & .cart-item {
        pointer-events: none;
        user-select: none;

        &__ctrl--md-block {
            @include abstracts.screen(xxl) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &:first-child {
            border-top: 1px solid var(--checkout-cart-item-border-color);
        }

        &:last-child {
            border: none;
            padding-bottom: 0;
        }
    }

    &__thumb {
        width: 70px;
        height: 54px;
        margin-right: 20px;

        @include abstracts.screen(md) {
            width: 60px;
            height: 46px;
        }
    }

    &__cost {
        font-size: 1.125rem;
        font-weight: 500;
        color: #9e9da8;
        line-height: 144.444%;
    }

    &__checkbox {
        &-input:not(:checked)::before {
            filter: brightness(0) saturate(100%) invert(66%) sepia(12%) saturate(190%) hue-rotate(206deg) brightness(94%) contrast(89%);
        }

        &:has(:checked) .payment-item__cost {
            font-weight: 500;
            color: var(--text-color);
        }
    }
}
