.product-page {
    min-height: 80vh;
    background: var(--product-detail-bg);
    display: flex;
    flex-direction: column;
}

.product-container {
    margin-top: 30px;
}

.product-preview {
    padding: 0 30px;

    &__list {
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    &__item {
        position: relative;
        width: 100%;
        flex-shrink: 0;
        padding-top: 92%;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__thumbs {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;

        padding: 30px;
    }

    &__thumb {
        width: 65px;
        height: 65px;
        object-fit: contain;
        border: 0.5px solid #c0becc;
        border-radius: 10px;
        opacity: 0.9;
        transition: border-color, opacity;
        transition-duration: 0.3s;

        &:hover {
            opacity: 1;
            border-color: #9e9da8;
            cursor: pointer;
        }

        &--current {
            border-color: #ffb700;
            opacity: 1;
        }
    }
}

.product-info {
    color: var(--product-info-text-color);
    padding: 60px;
    background: var(--product-info-bg-color);
    border-radius: 10px;

    &__heading {
        font-size: 1.625rem;
        font-weight: 500;
        line-height: 138.462%;
    }

    &-left {
        padding-right: 30px;
    }

    &__label {
        margin-top: 30px;
    }

    &__form__tag {
        background: var(--product-info__form-tag);
    }

    &__card {
        margin-top: 30px;
        padding: 20px;
        border-radius: 6px;
        border: 1px solid #b9babe;
    }

    &__row {
        display: flex;
        align-items: center;
    }

    &__price {
        font-size: 1rem;
        font-weight: 500;
        line-height: 150%;

        &-total {
            margin: 20px 0;
            font-size: 1.625rem;
            font-weight: 500;
            line-height: 138.462%;
        }
    }

    &__tax {
        margin-left: 10px;
        padding: 0 8px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), #67b044;
        color: #67b044;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 142.857%;
    }

    &__add-to-card {
        flex: 1;
    }

    &__like-btn {
        margin-left: 19px;
        width: 46px;
        height: 46px;
        border-radius: 6px;
        border: 1px solid #d2d1d6;
        background: transparent;
    }
}

.product-prop {
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    gap: 16px;

    &__title {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__desc {
        margin-top: 4px;
        font-weight: 300;
        font-size: 0.875rem;
        line-height: 142.857%;
    }

    & + & {
        margin-top: 27px;
    }
}
