@use "../abstracts";
html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(10%) saturate(4042%) hue-rotate(212deg) brightness(90%) contrast(95%);
    --body-bg: #f6f6f6;
    --header-bg-color: #eee;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);

    --top-menu-border-color: #d2d1d6;

    // Sidebar
    --sidebar-bg-color: #fff;
    --sidebar-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);

    // Category-item
    --cate-item-bg-color: #eee;
    --cate-item__thum-bg-color: #fff;
    --cate-item__title-color: #000;
    --cate-item-small-shadow-color: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);

    // Filter-btn
    --filter-btn-color: #6c6c72;
    --filter-btn-bg-color: #fff;
    --like-btn-bg-color: #fff;
    --like-btn-shadow-color: 0px 20px 60px rgba(124, 124, 124, 0.2);

    // Product-card
    --product-card-bg-color: #fff;
    --product-card-shadow-color: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
    --product-card__brand-color: #9e9da8;

    //Form
    --form-tag-bg-color: #f8f8fb;
    --form-select-dialog-bg: #fff;
    --form-select-dialog-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.15);
    --form-option-hover-bg: #ebebeb;

    //Filter
    --filter-bg-color: #fff;
    --filter-shadow-color: 0px 40px 90px rgba(200, 200, 200, 0.4);
    --filter__arrow-color: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(133deg) brightness(101%) contrast(102%);

    // Footer
    --footer-bg-color: #eee;

    // Auth
    --auth-bg-color: #fafafd;
    --auth__content-bg-color: #fff;
    --auth__intro-text-color: #1a162e;
    --auth__heading-color: #1a162e;

    @include abstracts.screen(md) {
        --auth-bg-color: #fff;
    }

    // Btn
    --btn-outline-color: #1a162e;

    // Product detail
    --product-info-text-color: #1a162e;
    --product-detail-bg: #fff;
    --product-info-bg-color: #f6f6f6;
    --product-info__form-tag: #ededf6;
    --product-detail-info-content: #fff;

    // breadcrumbs
    --breadcrumbs-bg-color: #f6f6f6;
    --breadcrumbs-shadow-color: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);

    // Search bar
    --search-bar-bg-color: #fff;

    // review card
    --review-card-bg-color: #fafafd;

    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --top-act-group-bg-color: #eee;
        --top-act-group-separate: #a9a9a9;
        --cate-item-bg-color: #fff;
        --product-detail-bg: #fafafd;
        --breadcrumbs-bg-color: #fff;
        --product-info-bg-color: #fff;
        --review-card-bg-color: #fff;
    }

    // act-dropdown-header
    --act-dropdown-bg-color: #fff;
    --act-dropdown-shadow-color: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
    --act-dropdown-bottom-color: #d2d1d6;
    --act-dropdown-text-color: #1a162e;
    --act-dropdown__arrow-color: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(133deg) brightness(101%) contrast(102%);

    // Checkout
    --checkout-page__breadcrumbs-bg-color: #fff;
    --checkout-cart-info-bg-color: #fff;
    --checkout-cart-info-shadow-color: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
    --checkout-cart-item-border-color: #d2d1d6;
    --checkout-gift-item__icon-wrap-bg-color: rgba(118, 68, 225, 0.1);

    // Payment
    --payment-item-bg-color: #f6f6f6;

    // User menu
    --user-menu__link-bg-color: #ebebeb;

    // Profile
    --profile-sidebar-bg: #ffffff;
    --profile-sidebar-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
    --profile-menu__link-bg-color: #ebebeb;
    --profile-info-bg-color: #fff;
    --profile-info-shadow-color: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
}
