@use "../abstracts";

%flexItemsCenter {
    display: flex;
    align-items: center;
}

.header {
    padding: 30px 0;
    background: var(--header-bg-color);
}

.top-bar {
    @extend %flexItemsCenter;

    position: relative;
    z-index: 1;

    &__more {
        width: 24px;
        height: 24px;
    }
}

.navbar {
    margin-left: 144px;

    @include abstracts.breakpoint(xl) {
        margin-left: 44px;
    }

    &__list {
        @extend %flexItemsCenter;

        margin: 0 -15px;

        @include abstracts.breakpoint(xl) {
            margin: 0;
        }

        @include abstracts.breakpoint(lg) {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 10px;

            height: calc(100% - 40px);
            overflow-y: auto;
            overscroll-behavior: contain;
            &::-webkit-scrollbar {
                width: 3px;
            }
        }

        @include abstracts.breakpoint(md) {
            margin-top: 0;
            height: calc(100% - 120px);
        }
    }

    &__item {
        &:hover .dropdown {
            opacity: 1;
            visibility: visible;
        }

        @include abstracts.breakpoint(lg) {
            &:hover .dropdown {
                opacity: 0;
                visibility: hidden;
            }
            width: 100%;
            margin-top: 20px;

            &--active .dropdown {
                opacity: 1 !important;
                visibility: visible !important;
                position: initial;
            }
        }
    }

    &__link {
        @extend %flexItemsCenter;

        height: 50px;
        column-gap: 6px;
        padding: 15px;

        font-size: 0.9375rem;
        font-weight: 500;
        line-height: 146.667%;

        @include abstracts.breakpoint(lg) {
            justify-content: space-between;
            padding: 0 40px;
            height: auto;
            font-size: 1rem;
            line-height: 150%;
            background: var(--sidebar-bg-color);
        }

        @include abstracts.breakpoint(sm) {
            padding: 0 20px;
        }
    }

    @include abstracts.breakpoint(lg) {
        position: fixed;
        inset: 0 50% 0 0;
        z-index: 1;

        margin-left: 0;
        padding: 40px 0;
        border-radius: 0 20px 20px 0;
        background: var(--sidebar-bg-color);

        translate: -100%;
        transition: translate 0.5s;

        &.show {
            box-shadow: var(--sidebar-shadow);
            translate: 0;
        }

        &.show ~ &__overlay {
            visibility: visible;
            opacity: 1;
        }

        &__arrow {
            rotate: -90deg;
            transition: rotate 0.2s;
        }

        &__item--active &__arrow {
            rotate: 0deg;
        }
    }

    @include abstracts.breakpoint(sm) {
        inset: 0 20% 0 0;
        padding: 20px 0;
    }

    &__close-btn {
        @include abstracts.breakpoint(lg) {
            display: block;
            padding: 0 40px;
        }

        @include abstracts.breakpoint(sm) {
            padding: 0 20px;
        }
    }

    &__overlay {
        visibility: hidden;
        opacity: 0;

        @include abstracts.breakpoint(lg) {
            position: fixed;
            inset: 0;

            transition: opacity, visibility;
            transition-duration: 0.5s;

            background: rgba($color: #000000, $alpha: 0.4);
        }
    }
}

.top-act {
    @extend %flexItemsCenter;

    margin-left: auto;
    column-gap: 20px;

    @include abstracts.breakpoint(xl) {
        column-gap: 15px;
    }

    &__group {
        @extend %flexItemsCenter;

        height: 50px;
        border-radius: 8px;
        background: var(--top-act-group-bg-color);
        box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);

        @include abstracts.breakpoint(xl) {
            height: 40px;
        }
    }

    &__btn {
        @extend %flexItemsCenter;

        column-gap: 10px;
        padding: 10px 20px;
        cursor: pointer;

        @include abstracts.breakpoint(xl) {
            padding: 10px;
        }
    }

    &__title {
        font-size: 0.9375rem;
        font-weight: 500;
        line-height: 146.667%;

        @include abstracts.breakpoint(xl) {
            font-size: 0.8375rem;
        }
    }

    &__group--single &__btn {
        padding: 13px;

        @include abstracts.breakpoint(xl) {
            padding: 10px;
        }
    }

    &__icon {
        @include abstracts.breakpoint(xl) {
            width: 20px;
        }
    }

    &__separate {
        width: 1px;
        height: 30px;
        background: var(--top-act-group-separate);
    }

    &__user {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
        overflow: hidden;
    }

    &__avatar {
        width: 100%;
        object-fit: cover;
    }
}

.nav-btn {
    padding: 10px 40px;
    align-items: center;

    &__title,
    &__qnt {
        color: var(--text-color);
        font-size: 0.9375rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__title {
        margin-left: 15px;
    }

    &__qnt {
        margin-left: auto;
    }

    @include abstracts.breakpoint(sm) {
        padding: 10px 20px;
    }
}
