@use "../abstracts";

.breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    padding: 20px;

    border-radius: 10px;
    background: var(--breadcrumbs-bg-color);
    box-shadow: var(--breadcrumbs-shadow-color);

    @include abstracts.screen(md) {
        gap: 16px;
    }

    &__link {
        display: flex;
        align-items: center;
        column-gap: 8px;

        color: #9e9da8;
        font-size: 1rem;
        font-weight: 500;
        line-height: 150%;

        @include abstracts.screen(md) {
            font-size: 0.875rem;
            line-height: 142.857%;
        }

        &--current {
            color: inherit;
        }
    }
}
