@use "../abstracts";

.filter-wrap {
    position: relative;
}

.filter {
    padding: 31px 30px;
    position: absolute;
    right: 5px;
    top: 61px;
    border-radius: 20px;
    background: var(--filter-bg-color);
    box-shadow: var(--filter-shadow-color);
    transition: opacity, visibility;
    transition-duration: 0.5s;
    z-index: 1;

    @include abstracts.screen(sm) {
        width: 80vw;
        padding: 30px 20px 20.5px;
    }

    &.hide {
        opacity: 0;
        visibility: hidden;
    }

    &__heading {
        font-size: 1.375rem;
        font-weight: 500;
        line-height: 145.455%;
    }

    &__form {
        margin-top: 30px;

        @include abstracts.screen(md) {
            margin-top: 20px;
        }

        &-group {
            margin-top: 20px;

            &--inline {
                display: flex;
                align-items: center;
                column-gap: 30px;
            }
        }

        &-slider {
            position: relative;
            display: inline-block;
            margin: 10px 0;
            width: 100%;
            height: 2px;
            background: #d2d1d6;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                width: 22px;
                height: 22px;
                border: 6px solid #ffb700;
                border-radius: 50%;
                translate: 0 -50%;
                background: var(--filter-bg-color);
                cursor: pointer;
            }

            &::before {
                left: 10%;
            }

            &::after {
                left: 60%;
            }
        }

        &-input {
            border-radius: 6px;
            border: 1px solid #d2d1d6;
        }

        &-input {
            padding: 0 12px;
            width: 121px;
            height: 36px;
            font-size: 0.875rem;
            line-height: 142.857%;

            @include abstracts.screen(sm) {
                width: 100%;
            }
        }

        &-search-wrap {
            display: flex;
            padding: 0 16px;
            width: 334px;
            border-radius: 6px;
            border: 1px solid #d2d1d6;

            @include abstracts.screen(sm) {
                width: 100%;
            }
        }

        &-search-input {
            padding: 0 16px 0 0;
            width: 100%;
            height: 45px;
            font-size: 0.9375rem;
            line-height: 146.667%;

            &::placeholder {
                color: #9e9da8;
            }
        }

        &-search-icon {
            cursor: pointer;
        }
    }

    &__row {
        display: flex;
    }

    &__separate {
        width: 1px;
        margin: 0 30px;
        background: #eee;

        &--small {
            width: 1px;
            margin: 0;
            height: 85%;
            background: #d2d1d6;
        }

        @include abstracts.screen(xl) {
            width: 100%;
            margin: 20px 0;
            padding: 0.5px 0;
        }
    }

    &__footer {
        margin-top: 20px;
        justify-content: flex-end;
    }

    &__arrow {
        position: absolute;
        width: 52.5px;
        bottom: 100%;
        right: 30px;
        filter: var(--filter__arrow-color);
    }

    &__content {
        margin-right: -30px;
        padding-right: 30px;
        @include abstracts.screen(xl) {
            flex-direction: column;
            max-height: calc(100vh - 350px);

            overflow-y: auto;
            overscroll-behavior: contain;
        }

        @include abstracts.screen(sm) {
            margin-right: -20px;
            padding-right: 20px;
        }
    }
}
