@use "../abstracts";

.form {
    &:has(:invalid) &__submit-btn {
        opacity: 0.8;
        pointer-events: none;
    }

    width: 100%;

    &__group {
        margin-top: 25px;
    }

    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
        .form__text-input {
            border-color: #ed4337;
            background: rgba($color: #ed4337, $alpha: 0.1);
        }

        .form__input-icon {
            display: none;

            &-error {
                display: block;
                visibility: visible !important;
            }
        }

        .form__error {
            display: block;
        }
    }

    &__text-input {
        padding: 0 12px;
        height: 50px;
        border-radius: 10px;
        border: 1px solid #d2d1d6;
        display: flex;
        align-items: center;

        &:focus-within {
            border-color: #77dae6;
        }
    }

    &__input {
        flex-grow: 1;
        height: 100%;

        font-size: 1.125rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1rem;
            line-height: 150%;
        }

        &::placeholder {
            color: #d2d1d6;
        }

        &-icon {
            margin-left: 12px;

            &-error {
                width: 20px;
                display: none;
            }
        }
    }

    &__error {
        display: none;
        text-align: left;
        font-size: 0.875rem;
        font-weight: 500;
        margin-top: 10px;
        color: #ed4337;
    }

    &__checkbox {
        position: relative;
        cursor: pointer;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            translate: 0 -50%;
        }

        &::before {
            left: 0;
            width: 19px;
            height: 19px;
            border: 1.5px solid #9e9da8;
            border-radius: 6px;
        }

        &:has(:checked)::before {
            background: #ffb700;
            border-color: #ffb700;
        }

        &:has(:checked)::after {
            left: 3.5px;
            width: 12.5px;
            height: 6.5px;
            border: 2.5px solid;
            border-color: transparent transparent #fff #fff;
            rotate: -45deg;
            translate: 0 -80%;
        }

        &-label {
            margin-left: 29px;
            font-size: 0.9375rem;
            font-weight: 500;
            line-height: 146.667%;
            color: #9e9da8;

            @include abstracts.screen(md) {
                font-size: 0.875rem;
                font-weight: 400;
                line-height: 142.857%;
            }
        }
    }
}
