.search-bar {
    width: 100%;
    height: 50px;
    align-items: center;
    border-radius: 10px;
    background: var(--search-bar-bg-color);

    &__input {
        flex: 1;
        padding: 0 15px;
        font-size: 1rem;
        font-weight: 500;
        line-height: 142.857%;
        height: 100%;

        &::placeholder {
            font-weight: 400;
            color: #9e9da8;
        }
    }

    &__submit {
        height: 100%;
        padding: 0 15px;
    }
}
