@use "../abstracts";

*,
::before,
::after {
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: transparent;
}

:root {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(10%) saturate(4042%) hue-rotate(212deg) brightness(90%) contrast(95%);
}

body {
    font-family: "DM Sans", sans-serif;
    color: var(--text-color);
    background: var(--body-bg);
}

html,
body {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

a,
button,
input,
label,
textarea,
select {
    color: inherit;
    font-family: inherit;
    outline: none;
    border: none;
}

input,
textarea {
    background: transparent;
}

.icon {
    filter: var(--icon-color);
}

.container {
    @include abstracts.screen(sm) {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:hover {
    transition: background-color 1s 9999s;
    -webkit-text-fill-color: var(--text-color);
    caret-color: var(--text-color);
}
