*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(10%)
        saturate(4042%) hue-rotate(212deg) brightness(90%) contrast(95%);
}

body {
    font-family: Gordita, sans-serif;
    color: var(--text-color);
    background: var(--body-bg);
}

html,
body {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    background: transparent;
}

a,
button,
input,
textarea,
select {
    color: inherit;
    font-family: inherit;
    -webkit-tap-highlight-color: transparent;
}

.icon {
    filter: var(--icon-color);
}

::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.2);
}
